html, body {
    background-color: #13262F;
}

#casting2-container {
    background-color: #13262F;
    height: 100vh;
}

#casting2-container.last {
    padding: 0;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(100, 100, 100, 0.6);
}

.spice-casting-title {
    margin-top: 50px;
    font-size: 40px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(100, 100, 100, 1);
}

.text {
    color: white;
    text-align: center;
}

.center-img {
    margin-top: 100px;
    display: block;
    animation: spin 2s linear 0s infinite normal;
    width: 25%;
    height: 25%;
}

.center-box-instrument {
    margin: auto;
    text-align: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    color: white;
}

/* Makes the object spin */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}