html, body { 
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    min-height: 100%;
}

.section {
    min-height: 600px;
    position: relative;
    padding: 40px 100px;
}

#welcome-container {
    background-color: #B4E1FF;
}

#song-info-container {
    background-color: #BAF2BB;
    text-align: center;
}

#instruments-container {
    background-color: #F2BAC9;
}

#welcome-text {
    animation: spin 2s linear 0s infinite normal;
}

/*
Other colors in palette: 

#F2E2BA
#58B09C
*/

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center2 {
    margin: auto;
    text-align: center;
    /* border: 2px dashed pink; */
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.center2:hover{
    cursor: pointer;
    border: 6px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.center-ease-in {
    text-align: center;
    /* ease-in animation */
    animation: opacity-ease-in 2.5s ease-in;
}




/* The below code is used for the DVD symbol. Do not touch! */
.marquee {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
svg {
    display: block;
}
.logo {
    fill: #fff;
}


/*
 * ANIMATIONS
 */

/* Makes the object spin */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Makes the object appear slowly */
@keyframes opacity-ease-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}